*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consola;
}

body{
    display: block;
    text-align: center;
    background-color: #202020;
}

.container {
        position: relative;
        margin-top: 3vh;
        margin-left: 70vh;
        height: 600px;
        width: 500px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2),
         0px 0px 10px rgba(0,0,0,0.2);  
         
      }
      
.calculator{
    position: relative;
    display: grid;
    padding: 20px;
    
}

.calculator .value{
     position: relative;
     grid-column: span 4;
     margin-left: 24px;
     width: 90%;
     height: 90px;
     border: none;
     padding: 10px;
    background-color: #A7AF7C;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

.calculator span{
    position: relative;
    display: grid;
    border-radius: 6px;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 25px;
    color: #fff;
    background: linear-gradient(180deg, #2f2f2f,#3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),
    inset 0 -8px 8px rgba(0,0,0,0.15),
    0 0 0 2px rgba(0,0,0,0.75)
     10px 20px 25px rgba(0, 0, 0, 0.4);
     cursor: pointer;
     user-select: none;
     font-weight: 400;
     border: 2px solid #000000;
    

}

.calculator span::before{
    content: " ";
    position: absolute;
    top:3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#2d2d2d,#4d4d4d);
    border-radius: 8px;
    box-shadow: -5px -5 15px rgba(0,0,0,0.1),
     10 5px 10px rgba(0,0,0,0.15);
     border-left: 1px solid #0004;
     border-bottom: 1px solid #0004;
     border-top: 1px solid #0009;
    text-align: center;
    } 

.calculator span:active{
    filter: brightness(1.5);
}

.calculator span i {
    position: relative;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}

.calculator .clear{
    grid-column: span 2  ;
    width: 200px;
    background: #f00;
}

.calculator .clear::before{
    background: linear-gradient(90deg,#d20000,#ffffff5c);
    border-left: 1px solid #fff4;
     border-bottom: 1px solid #fff4;
     border-top: 1px solid #fff4; 
}

.calculator .plus{
      grid-row: span 2;
      height : 180px;
}

.calculator .equal{
    background: #2196f3;
}

.calculator .equal::before{
     background: linear-gradient(90deg,#1479c9,#ffffff5c);
     border-left: 1px solid #fff4;
     border-bottom: 1px solid #fff4;
     border-top: 1px solid #fff4; 
}
 span{
    padding-top: 22px;
    
 }